name: attacker defined

on:
  pull_request:

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Say Hello
        run: | 
            echo "sha: ${{github.event.pull_request.head.sha}}"
            echo "github sha ${{github.sha}}"